[Unit]
Description=Ground
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/whitevest
ExecStart=/usr/bin/python3 -m whitevest.bin.ground
Restart=on-failure

[Install]
WantedBy=multi-user.target
