[Unit]
Description=Ground
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/white-vest
ExecStart=/usr/bin/python3 -m whitevest.bin.ground
Restart=always

[Install]
WantedBy=multi-user.target
