.Dashboard {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
  flex-direction: column;
  color: var(--color-white);
  font-family: var(--font-face);
  padding: 10px;
}

.Dashboard .Dashboard-Panel {
  border: solid 1px var(--color-dark-blue);
  background: var(--color-off-black);
  margin: 10px;
  padding: 10px;
}
