.Toolbar {
  overflow: visible;
  margin: 5px;
  display: flex;
}

.Toolbar-Stream-Status {
  display: block;
  color: var(--color-white);
  height: 25px;
  font-size: 13px;
  padding: 5px 0;
  text-align: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: var(--color-blue);
  flex-grow: 1;
}

.Toolbar-Stream-Status-Receiving {
  animation-name: BlinkGreen;
}

.Toolbar-Stream-Status-Not-Receiving {
  animation-name: BlinkRed;
}

@keyframes BlinkGreen {
  from {
    background: var(--color-green);
  }
  to {
    background: none;
  }
}

@keyframes BlinkRed {
  from {
    background: var(--color-red);
  }
  to {
    background: none;
  }
}

.Toolbar-Address {
  margin-left: 5px;
}

.Toolbar-Address-Input {
  border: solid 1px var(--color-white);
  outline: none;
  height: 25px;
  padding: 3px;
  background: transparent;
  color: var(--color-white);
}

.Toolbar-Address-Button {
  outline: none;
  border: none;
  height: 25px;
  margin: 0;
}
