name: White Vest Air Tests
on:
  push:
    branches: ["*"]
    tags: ["*"]
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Python Dependencies
      run: |
        cd air
        make install
        pip3 install pytest pytest-cov pylint setuptools wheel
    - name: Lint Python
      run: cd air && make lint
    - name: Test Python
      run: cd air && make test
