.Widget-LocationWidget {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.Widget-LocationWidget .Widget-Inside {
  position: relative;
  
}

.Widget-LocationWidget .Widget-Inside .leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
